/* Main styles */

.wrapper{
    width: 1140px;
    margin: 40px auto 0 auto;
}
/* Header */
#header{
    border: 1px solid #e0e0e0;
    display: inline-block;
    width: 100%;
    background: #fff;
}
/* Logo */
.logo{
    float: left;
    margin: 30px 0 0 30px;
}
.logo a{
    display: block;
}
.logo a:hover{
    text-decoration: none;
}
.logo a img{
    float: left;
}
.logo a > div{
    float: left;
}
.logo-title{
    font-size: 48px;
    font-weight: bold;text-transform: uppercase;
}
.logo-slogan{
    font-size: 18px;
    color: #92b054;
}
/* Auth links */
.auth-links{
    text-align: right;
    margin: 30px 30px 0 0;
}
.auth-links-list li{
    float: left;
    margin-left: 30px;
    height: 20px;
    line-height: 20px;
}
.auth-links-list li a{
    font-size: 14px;
}
.auth-links-list .fa{
    font-size: 18px;
}
.auth-links-list .fa-search{
    color: #aaa;
}
.auth-links-list .fa-key{
    color: #4caf50;
}
.auth-links-list .fa-credit-card{
    color: #ff9800;
}
/* Filter */
#filter{
    width: 100%;
    margin-top: 20px;
}
/* Tabs */
.tabs {
    margin: 0 0 30px;
}
.tabs__caption {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}
.tabs__caption li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 30px;
    cursor: pointer;
    background: #fff;
    position: relative;
    font-size: 16px;
    color: #3F51B5;
}
.tabs__caption li:hover, .tabs__caption li:hover {
    color: #4caf50;
    padding: 0 30px;
    border-bottom: 3px solid #4caf50;
}
.tabs__caption .active {
    font-size: 16px;
    color: #4caf50;
    border-bottom: 3px solid #4caf50;
}
.tabs__content {
    display: none;
    background: #fff;
    padding: 0 30px;
    margin-top: 30px;
}
.tabs__content.active {
    display: block;
}
/* Filer layer*/
.filter-left{
    width: 800px;
}
.filter-layer-title{
    font-size: 14px;
    margin-right: 80px;
}
.filter-layer-list{
    width: 600px;
}
.filter-layer-item{
    float: left;
    margin-right: 30px;
    line-height: 10px;
    position: relative;
    z-index: 3;
}
.filter-layer-item a{
    font-size: 14px;
}
.filter-layer-item.active > a{
    color: #333;
    font-weight: bold;
    display: block;
}
.filter-layer-item.active > a:hover{
    text-decoration: none;
    cursor: text;
}
.filter-layer-item.more-down > a:hover{
    border-bottom: 1px dashed #3F51B5;
    text-decoration: none;
}
.filter-layer-item.more-down > a i{
    line-height: 10px;
}
.filter-layer-item.active-down{
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 5px 5px 10px 5px;
    background: #fff;
    margin-top: -5px;
    z-index: 3;
}
/*Filter sub*/
.filter-sub{
    margin-top: -16px;
    display: inline-block;
}
.filter-sub ul{
    width: 775px;
    border: 1px solid #e0e0e0;
    margin-top: 15px;
    overflow: hidden;
    padding: 15px 15px 0 15px;
}
.filter-sub ul li{
    line-height:1.5em;
    padding-bottom: 15px;
    float: left;
    font-size: 14px;
}
.filter-sub ul li a{
    display: block;
}
/* 3 col */
#triple li{
    width:25%;
}
/* Filter right layer */



/* Others */
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.bold{
    font-weight: bold;
}
.ad{
    margin-top: 15px;.
    text-align: center;
}
.ad a{
    border: 1px solid #ff9800;
    border-radius: 3px;
    display: block;
    padding: 10px 20px;
    color: #333;
}
.ad .fa-plus{
    color: #ff9800;
    margin-right: 10px;
}
.ad:hover a{
    text-decoration: none;
    color: #fff;
    background: #ff9800;
}
.ad:hover .fa-plus{
    color: #fff;
}